.oneElem {
  display: inline-block;
  position: relative;
  width: 500px;
  height: 150px;
  border: 1px solid black;
}
.name {
  border: 1px solid black;
  border-left: none;
  padding: 4px;
  padding-top: 0;
}
.oneElem button {
  position: relative;
  top: 2px;
}
.words {
  height: 117px;
  margin-top: 10px;
  margin-left: 5px;
}

.hide {
  display: none;
}
.show {
  display: block;
}
